<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="/static/hub.css">
        
    <!-- ===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!--<title>Responsive Navigation Menu Bar</title>-->
    <title>
        {% block title %}
          
        {% endblock title %}
    </title>
    {% block addcss %}
      
    {% endblock addcss %}
</head>
<body onmousedown="return false" onselectstart="return false">
    <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen' ></i>
            <img src="/static/MAD Technophile.png" class="MT-logo" alt="">

            <div class="menu">
                <div class="logo-toggle">
                    <img src="/static/MAD Technophile.png" class="MT-logo" alt="">
                    <i class='bx bx-x siderbarClose'></i>
                </div>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="news">News</a></li>
                    <li><a href="reviews">Reviews</a></li>
                    <li><a href="phonefinder">Phone Finder</a></li>
                    <li><a href="Evs">EVs</a></li>
                    <li><a href="compare">Compare</a></li>
                </ul>
            </div>

            <div class="darkLight-searchBox">
                <div class="dark-light">
                    <i class='bx bx-moon moon'></i>
                    <i class='bx bx-sun sun'></i>
                </div>

                <div class="searchBox">
                   <div class="searchToggle">
                    <i class='bx bx-x cancel'></i>
                    <i class='bx bx-search search'></i>
                   </div>

                    <div class="search-field">
                        <input type="text" placeholder="Search...">
                        <i class='bx bx-search'></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% block body %}
      
    {% endblock body %}
<footer>
    <div class="foot-contianer">
     <div class="logo-section">
        <img src="/static/MAD Technophile.png" class="foot-logo" alt="">
     </div>
     <div class="bottom-section">
        <ul class="bottom-list">
            <li><a href="/">Home</a></li>
            <li><a href="Contactus">Contact us</a></li>
            <li><a href="termsandcondition">Terms of use</a></li>
            <li><a href="privacypolicy">Privacy</a></li>
        </ul>
     </div>
    </div>
</footer>
<script>

const body = document.querySelector("body"),
      nav = document.querySelector("nav"),
      modeToggle = document.querySelector(".dark-light"),
      searchToggle = document.querySelector(".searchToggle"),
      sidebarOpen = document.querySelector(".sidebarOpen"),
      siderbarClose = document.querySelector(".siderbarClose");

      let getMode = localStorage.getItem("mode");
          if(getMode && getMode === "dark-mode"){
            body.classList.add("dark");
          }

// js code to toggle dark and light mode
      modeToggle.addEventListener("click" , () =>{
        modeToggle.classList.toggle("active");
        body.classList.toggle("dark");

        // js code to keep user selected mode even page refresh or file reopen
        if(!body.classList.contains("dark")){
            localStorage.setItem("mode" , "light-mode");
        }else{
            localStorage.setItem("mode" , "dark-mode");
        }
      });

// js code to toggle search box
        searchToggle.addEventListener("click" , () =>{
        searchToggle.classList.toggle("active");
      });
 
      
//   js code to toggle sidebar
sidebarOpen.addEventListener("click" , () =>{
    nav.classList.add("active");
});

body.addEventListener("click" , e =>{
    let clickedElm = e.target;

    if(!clickedElm.classList.contains("sidebarOpen") && !clickedElm.classList.contains("menu")){
        nav.classList.remove("active");
    }
});

</script>
{% block scripts %}
  
{% endblock scripts %}
</body>
</html>
