{% extends "base.html" %}
{% block addcss %}
<link rel="stylesheet" href="/static/comingsoon.css">
{% endblock addcss %}
{% block title %}
  Mad Technophile | EVs
{% endblock title %}
{% block body %}
  <div class="container">
    <div class="anime">
      <img src="/static/owl.gif" alt="">
      <h1>Coming Soon!</h1>
      <p>Follow us for updates</p>
      <form action="" method="POST">
        {% csrf_token %}
        <input type="mail" name="email" id="email" placeholder="Email">
        <input type="submit" name="submit" id="sumbit">
      </form>
    </div>
  </div>
{% endblock body %}
{% block scripts %}
  
{% endblock scripts %}