{% extends "base.html" %}
{% block addcss %}
  <meta name="Mad Technophile | News" content="check-out the latest tech industry news">
  <link rel="stylesheet" href="/static/main.css">
{% endblock addcss %}
{% block title %}
  Mad Technophile | News
{% endblock title %}
{% block body %}
<br>
<br>
<br>
<br>
<div class="slideshow-container">

  <div class="mySlides fade" onclick="location.href='review1';">
    <img src="/static/front-template/slide/Hr1.png" style="width:100%; border-radius: 20px;box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);">
  </div>
  
  <div class="mySlides fade" onclick="location.href='review2';">
    <img src="/static/front-template/slide/Hr2.png style="width:100%; border-radius: 20px;box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);">
  </div>
  </div>
  <br>
  <div style="text-align:center">
    <span class="dot"></span> 
    <span class="dot"></span> 
  </div>
<div class="ad-1"></div>

<div class="shed">
  <h1 style="font-size:1.5rem;"> Latest News</h1>
  <hr style="width: 100%;margin-left: auto;margin-right: auto; height: 0.5vh; background-color: black; border-radius: 30px;">
 <div class="content">
   <div class="thumbnail"><img src="/static/front-template/news/n3.jfif" alt=""></div>
   <div class="meta">
     <h1>Go Pro Hero 11 series is launched!</h1>
     <p>Go Pro has updated its action camera line up for 2022 and here is all you need to know.</p>
     <p><i class='bx bx-user' ></i>Mad Technophile<i class='bx bxs-calendar' ></i>19th September 2022</p>
   </div>
 </div>
 <div class="content">
   <div class="thumbnail"><img src="/static/front-template/news/n1.jfif" alt=""></div>
   <div class="meta">
     <h1>Apple Iphone series and watch is now on sale in India</h1>
     <p>Planning to buy all new products from Apple here is everything you need to know</p>
     <p><i class='bx bx-user' ></i>Mad Technophile<i class='bx bxs-calendar' ></i>19th September 2022</p>
   </div>
 </div>
 <div class="content">
   <div class="thumbnail"><img src="/static/front-template/news/n2.jfif" alt=""></div>
   <div class="meta">
     <h1>Snapdragon 8 Gen 2 might have a higher frequency variant </h1>
     <p>Report mentions about the rumour related to the higher frequency variant from Snapdragon</p>
     <p><i class='bx bx-user' ></i>Mad Technophile<i class='bx bxs-calendar' ></i>19th September 2022</p>
   </div>
 </div>
</div>
<div class="ad-1"></div>

{% endblock body %}
{% block scripts %}
<script>
  let slideIndex = 0;
  showSlides();
  
  function showSlides() {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 10000); // Change image every 2 seconds
  }
  </script>
{% endblock scripts %}