{% extends "base.html" %}
{% block addcss %}
  <link rel="stylesheet" href="/static/show.css">
  <meta name="Motorola Edge 30 Fusion Review" content="Motorola has made one of the best mid-ranger smartphone of this year and here is everything you need to know about the Motorola Edge 30 Ultra">
{% endblock addcss %}
{% block title %}
  Mad Technophile | Motorola Edge 30 Fusion Review
{% endblock title %}
{% block body %}
<br>
<br>
<br>
<br>
  <div class="ad"></div>
  <h1 class="title">Motorola Edge 30 Fusion Review</h1>
  <img src="/static/Hr2.png" alt="" class="image">
  <hr style="width:90%; margin-left:auto;margin-right:auto;height:0.5vh; background: black;">
  <br>
  <h4 class="author">by Minaketan Mishra</h4>
  <h4 class="author"><i class='bx bxs-calendar' ></i>19th September 2022</h4>
  <p class="author">5 Min Read</p>
  <br>
  <p>Motorola is all set to launch its Edge 30 Fusion. This is an upper mid-ranger phone and it has some nice features and a fresh design. Motorola has priced the phone at ₹39,999 in India and will be exclusively available on Flipkart. We have a lot to tell about this phone so stay tuned with us till the end of this review </p>
  <br>
  <h5 class="sub-heading">Packing and in box</h5>
  <br>
  <p>We love Motorola's approach to making environment friendly packaging. The box is made up of cardboard and has no use for plastic. Even the ink print used on the box is soy-based ink, so there is no chemical use.</p>
  <br>
  <p>In the box, we get the phone wrapped in a paper sheet, a TPU case, some paperwork, and TurboPower 68W Charger, USB Type-C to USB Type-C Cable, and Sim Tool.</p>
  <br>
  <p>The packing is neatly laid out and we wish to see big smartphone manufacturers adopt a similar approach and not compromise on essentials.</p>
  <br>
  <h5 class="sub-heading">Design</h5>
  <br>
  <p>Motoroal has been continuing the same design language across most of its phone. Which
    includes the moto G52, Edge 30 and Edge 30 Pro. They looked simple and elegant and we
    liked it.
    </p>
    <br>
    <img src="/static/photos/Motorola_edge_30_fusion/Screenshot 2022-09-18 170953.png" alt="" class="saint-1">
    <br>
  <p>But this Motorola phone comes with a different design. The camera bump has become boxy and has a two-tone color scheme. The back panel is covered with some leather textured material that feels soft to the touch. The phone comes with a metal frame and it is quite light to carry. The design and aesthetics of this phone are classy. However, it is marketed as dust and splash resistant phone but it lacks any certification.</p>
  <br>
  <div class="ad"></div>
  <br>
  <h5 class="sub-heading">Specifications</h5>
  <br>
  <table class="spec">
        <tr>
      <th>Body:</th>
      <td>158.5x71.2x7.5mm, 167g; Glass front, textured back; Splash and dust resistant.</td>
    </tr>
    <tr>
      <th>Display:</th>
      <td>6.55" P-OLED, 1B colors, 144Hz, HDR10+, 1080x2400px resolution, 20:9 aspect ratio, 402ppi.</td>
    </tr>
    <tr>
      <th>Chipset:</th>
      <td>Qualcomm SM8350 Snapdragon 888+ 5G (5 nm): Octa-core (1x2.99 GHz Cortex-X1 & 3x2.42 GHz Cortex-A78 & 4x1.80 GHz Cortex-A55); Adreno 660.</td>
    </tr>
    <tr>
      <th>Memory:</th>
      <td>128GB 8GB RAM, 256GB 8GB RAM, 256GB 12GB RAM, 512GB 12GB RAM; UFS 3.1.</td>
    </tr>
    <tr>
      <th>OS/Software:</th>
      <td>Android 12.</td>
    </tr>
    <tr>
      <th>Rear camera:</th>
      <td>Wide (main): 50 MP, f/1.8, 1/1.55", 1.0µm, PDAF, OIS; Ultra wide angle: 13 MP, f/2.2, 123-degree, 1.12µm; Depth: 2 MP, f/2.4.</td>
    </tr>
    <tr>
      <th>Front camera:</th>
      <td>32 MP, f/2.2, (wide), 1/2.8", AF.</td>
    </tr>
    <tr>
      <th>Video capture:</th>
      <td>Rear camera: 8K@30fps, 4K@30fps, 1080p@30ps, gyro-EIS.</td>
    </tr>
    <tr>
      <th>Battery:</th>
      <td>4400mAh; Fast charging 68W, 50% in 10 min (advertised).</td>
    </tr>
    <tr>
      <th>Misc:</th>
      <td>Fingerprint reader (under display, optical); NFC; Ready For 3.5 support.</td>
    </tr>
  </table>
  <br>
  <h5 class="sub-heading">Camera</h5>
  <br>
  <p>The Motorola Edge 30 Fusion comes with a 50MP main camera and a 13MP ultrawide camera and depth sensor. The Main camera shows 12MP by default. The photos on the main camera come out slightly boosted and the images are sharp and crisp. However, when you zoom into the images, there is some amount of noise. Even some daylight shots had noise. At night the main camera does a really good job. The colors are closer to life and the details are captured pretty well. The is better in comparison to the previous generation Motorola phones and Motorola has been doing a good job in constantly working on their camera.</p>
  <br>
    <img src="/static/photos/Motorola_edge_30_fusion/motorola-edge-30-fusion-pdp-camera-gallery-intro-d-right-image-0c050n7u.webp" alt="" class="saint-2">
    <br>
  <p>The front camera comes with a 30MP camera sensor and we took some amazing shots with it. It comes with autofocus. The front camera can take videos up to 4k at 30FPS. The video quality and mic are amazing, however, the stabilization is terrible. </p>
  <br>
  <h5 class="sub-heading">Display</h5>
  <br>
  <p>Motorola outdoes its competition with one aspect of the display which is the 144hz refresh rate. Which is the most in a non-gaming phone. The phone comes with a pOLED display. The curved pOLED panel measures 6.55 inches. The screen curves into the metal frame and enhances the looks and feel. The display is bright and everything can be seen clearly in bright outdoor conditions.</p>
  <br>
  <img src="/static/photos/Motorola_edge_30_fusion/Screenshot 2022-09-18 170935.png" alt="" class="saint-3">
  <br>
  <p> The phone supports HDR10+, which means you can stream HRD content from youtube and amazon. It supports White wine L1 which means you can watch Netflix in 1080P.</p>
  <br>
  <h5 class="sub-heading">Speakers</h5>
  <br>
  <p>These speakers are loud and the sound is split equally between the top and bottom speakers. However, the bottom speaker has more base.</p>
  <br>
  <h5 class="sub-heading">UI</h5>
  <br>
  <p>Motorola does a beautiful job of keeping its UI as close as possible to the stock android. And it looks great on this screen. The Motorola Edge 30 Fusion comes with Android 12 and it is probably one of the smoothest phones on Android 12. There is no bloatware. Motorola has provided various customization features which are also cool. You get a feature called Motorola Strongbox with think shield security which is a hardware chip for enhancing security. </p>
  <br>
  <img src="/static/photos/Motorola_edge_30_fusion/Screenshot 2022-09-18 100112.png" alt="" class="saint-2">
  <br>
  <h5 class="sub-heading">Perfomance</h5>
  <br>
  <p>The Motorola Edge 30 Fusion comes with the Snapdragon 888+5G, with 8 GB DDR5
    RAM and 128GB UFS3.1 Storage. The snapdragon 888+5G performs similarly to the
    latest snapdragon chipsets. It will easily help you run all the productivity tasks and also
    provide enough power to run any game. The COU throttling test however didn't impress
    us as it dropped to 65% in one hour and continued to stay there till the end of the test.
    </p>
    <br>
    <img src="/static/photos/Motorola_edge_30_fusion/Screenshot 2022-09-18 170857.png" alt="" class="saint-3">
  <br>
  <h5 class="sub-heading">Battery</h5>
  <br>
  <p>The Motorola Edge 30 Fusion comes with a 4100Mah Battery. It's enough to last you an entire day on this phone. Considering the size of the phone which is slim, the battery is not too big or too small. The battery can stay up to 100 hours and beyond. The phone comes with a 65W PD charger which charges the phone from 0-80% in half an hour. And since it is a PD charger you can charge your laptops with it as well. </p>
  <br>
  <img src="/static/photos/Motorola_edge_30_fusion/Screenshot 2022-09-18 171014.png" alt="" class="saint-2">
  <br>
  <p>The Phone comes with 13 5G bands that are essential for India and good 4G+ carrier aggregation. </p>
  <br>
  <h5 class="sub-heading">Verdict</h5>
  <br>
  <p>Motorola has done a great job making this phone, With the vegan leather design, smooth performance from the Snapdragon 888+5G, big battery with quick charge, and brilliant display there is barely anything we can complain about. We can only nitpick about the dust and splash resistance certification and missing a telephoto camera. But at ₹39,999 This is one of the best upper mid-tier phone and an to easy recommend one</p>
  <br>
   <div class="ad"></div>
   <br>
{% endblock body %}
{% block scripts %}
{% endblock scripts %}