{% extends "base.html" %}
{% block addcss %}
  <meta name="Motorola Edge 30 Ultra Review" content="Motorola has made one of the best flagship of this year and here is everything you need to know about the Motorola Edge 30 Ultra">
  <link rel="stylesheet" href="/static/show.css">
{% endblock addcss %}
{% block title %}
  Mad Technophile | Motorola Edge 30 Ultra Review
{% endblock title %}
{% block body %}
<br>
<br>
<br>
<br>
  <div class="ad"></div>
  <h1 class="title">Motorola Edge 30 Ultra Review</h1>
  <img src="/static/Hr1.png" alt="" class="image">
  <hr style="width:90%; margin-left:auto;margin-right:auto;height:0.5vh; background: black;">
  <br>
  <h4 class="author">by Minaketan Mishra</h4>
  <h4 class="author"><i class='bx bxs-calendar' ></i>19th September 2022</h4>
  <p class="author">5 Min Read</p>
  <br>
  <p>Motorola is all set to launch its Motorola Edge 30 Pro in India. The phone comes with a 200 MP camera which is the main highlight. Motorola has priced the phone at ₹54,999 in India and will be exclusively available on Flipkart. The phone comes with a design change and upgrades in hardware as well. We have a lot to tell about this phone so stay tuned with us till the end of this review
  </p>
  <br>
  <h5 class="sub-heading">Packing and in box</h5>
  <br>
  <p>We love Motorola's approach to making environmentally friendly packaging. The
    box is made up of cardboard and has no use for plastic. Even the ink print used on the box is soy-based ink, so there is no chemical use.</p>
    <br>
  <p>In the box, we get the phone wrapped in a paper sheet, a TPU case, some paperwork and 125W
    charger. The charger uses gallium nitride. Which led to the charger is as small as a 30W
    charger and 4 times more powerful than it. The 125W charger is a PD charger which means you
    can charge your phone and your laptop with it.</p>
    <br>
  <p>The packing is neatly laid out and we wish to see big smartphone manufacturers adopt similarly
    approach and don't compromise on essentials.</p>
    <br>
    <div class="ad"></div>
    <h5 class="sub-heading">Design</h5>
    <br>
  <p>Motorola has been continuing the same design language across most of its phones. This
    includes the moto G52, Edge 30, and Edge 30 Pro. They looked simple and elegant and we
    liked them.</p>
    <br>
    <img src="/static/photos/Motorla_Edge_30_Utra/Screenshot 2022-09-18 095956.png" alt="" class="saint-1">
    <br>
  <p>But this Motorola phone comes with a different design. The camera Bump has become boxy.
  The three-camera island design comes with a Saturn glass to protect the cameras and the bump
  doesn't bother much. The Motorola Edge 30 Pro comes with a metal frame and glass
  back. The Motorola Edge 30 Fusion comes with a similar design, so there might be chances of
  seeing this design continue across other moto phones too. The phone comes in two colors
  starlight white and Interstellar Black. We like the black colour.</p>
    <br>
    <h5 class="sub-heading">Spec table</h5>
    <br>
    <table class="spec">
      <tr>
    <th>Body:</th>
    <td>161.8x73.5x8.4mm, 199g; Glass front (Gorilla Glass 5), glass back (Gorilla Glass 5), aluminum frame.</td>
  </tr>
  <tr>
    <th>Display:</th>
    <td>6.67" OLED, 1B colors, 144Hz, HDR10+, 1250 nits (peak), 1080x2400px resolution, 20:9 aspect ratio, 395ppi.</td>
  </tr>
  <tr>
    <th>Chipset:</th>
    <td>Qualcomm SM8475 Snapdragon 8+ Gen 1 (4 nm): Octa-core (1x3.19 GHz Cortex-X2 & 3x2.75 GHz Cortex-A710 & 4x1.80 GHz Cortex-A510); Adreno 730.</td>
  </tr>
  <tr>
    <th>Memory:</th>
    <td>128GB 8GB RAM, 256GB 8GB RAM, 256GB 12GB RAM, 512GB 12GB RAM; UFS 3.1.</td>
  </tr>
  <tr>
    <th>OS/Software:</th>
    <td>Android 12.</td>
  </tr>
  <tr>
    <th>Rear camera:</th>
    <td>Wide (main): 200 MP, f/1.9, 1/1.22", 0.64µm, PDAF, OIS; Telephoto: 12 MP, f/1.6, 1.22µm, PDAF, 2x optical zoom; Ultra wide angle: 50 MP, f/2.2, 114˚, 1/2.76", 0.64µm.</td>
  </tr>
  <tr>
    <th>Front camera:</th>
    <td>60 MP, f/2.2, (wide), 1/2.8", 0.61µm.</td>
  </tr>
  <tr>
    <th>Video capture:</th>
    <td>Rear camera: 8K@30fps, 4K@30/60fps, 1080p@30/60/120/320/960fps, gyro-EIS, HDR10+; Front camera: 4K@30fps, 1080p@30fps.</td>
  </tr>
  <tr>
    <th>Battery:</th>
    <td>4610mAh; Fast charging 125W, Fast wireless charging 50W, Reverse wireless charging 10W.</td>
  </tr>
  <tr>
    <th>Misc:</th>
    <td>Fingerprint reader (under display, optical); NFC; stereo speakers.</td>
  </tr>
</table>
<br>
    <img src="/static/photos/Motorla_Edge_30_Utra/Screenshot 2022-09-18 095801.png" alt="" class="saint-1">
    <p>Motorola Edge 30 Ultra comes with 200MP Samsung HP1 sensor, and this is the largest
      sensor you can find in a smartphone and this is the first time we have seen it in action.
      So when we used the camera for taking some picture we noticed that it showed 12MP
      in the details. This is because the 200 MP camera combines 16 pixels to one to give
      you a 12.1 MP photo. So, the purpose of this camera is to get more data which will help
      you get better picture quality. It definitely has the sharpness but how good are the
      photos?</p>
    <br>
    <p>The camera provides some really good quality pictures, even the objects that are far
      away retain a lot of details. In some photos the colour on the pictures come out slightly
      boosted. Overall the main camera does the job really well and we found nothing to
      complain about.
      </p>
    <br>
    <img src="/static/photos/Motorla_Edge_30_Utra/Screenshot 2022-09-18 100015.png" alt="" class="saint-2">
    <br>
    <p>The camera provides some really good quality pictures, even the objects that are far
      away retain a lot of details. In some photos the colour on the pictures come out slightly
      boosted. Overall the main camera does the job really well and we found nothing to
      complain about.
      </p>
    <br>
    <p>The camera provides some really good quality pictures, even objects that are far
      away retain a lot of details. In some photos, the color the pictures come out slightly
      boosted. Overall the main camera does the job well and we found nothing to
      complain about.
      </p>
      <br>
      <h5 class="sub-heading">Display</h5>
      <br>
      <p>Motorola outdoes its competition with one aspect of the display which is the 144hz
        refresh rate. Which is the most in a non-gaming phone. The phone comes with a
        pOLED display. The curved pOLED panel measures 6.67 inches in diagonal and has a
        1,080x2,400px resolution.
        <img src="/static/photos/Motorla_Edge_30_Utra/Screenshot 2022-09-18 095928.png" alt="" class="saint-2">
        <br>
        The Curved glass has a feature called the edge light which helps you customize the
        edge of the screen as indicators for notifications, which is cool.
        The phone supports HDR10+, which means you can stream HRD content from youtube
        and amazon. It supports White wine L1 which means you can watch Netflix in 1080P.
        Stereo Speakers
        These speakers are loud and the sound is split equally between the top and bottom
        speakers. However, the bottom speaker has more base.
        The Motorola Edge 30 Ultra comes with Android 12 and it is probably the smoothest
        phone on Android 12. There is no bloatware. You get a feature called Motorola Strongbox with think shield security which is a hardware chip for enhancing security</p>
        <br>
        <h5 class="sub-heading">Perfomance</h5>
        <br>
        <img src="/static/photos/Motorla_Edge_30_Utra/e9b60d44-3fd6-4d1b-b4ce-c1f115655cd8___e3d10cdaedb3df1e1ecde165e4facf7a.webp" alt="" class="saint-3">
        <br>
        <p>The Motorola Edge 30 Ultra comes with the latest Snapdragon Processor, The
          Snapdragon 8+Gen1, with 8 GB DDR5 RAM and 128GB UFS3.1 Storage. The phone
          has managed to level up expectations with its GeekBench scores. It is one of the
          best-performing Android phones in the market. But it dint prove to be stable under sustained
          load. In CPU throttle testing the phone performance dropped to around 77% in 3 mins
          and remained to be at 65% throughout the one-hour test.</p>
        <br>
        <h5 class="sub-heading">Battery</h5>
        <br>
        <p>The Motorola Edge 30 Pro comes with a 4610Mah Battery. Its enough to last you an
          entier day on this phone. The 125W charger will quickly charge your phone. It can
          charge your phone from 0 to 50% in about 5 mins.</p>
          <img src="/static/photos/Motorla_Edge_30_Utra/Screenshot 2022-09-18 095913.png" alt="" class="saint-2">
        <p>
          You also get a 50W fast wireless charger with Motorolas own wireless charger and 10W
          reverse wireless charging.
          The Phone comes with 13 5G bands that are essential for India and really good 4G+
          carrier aggregation.</p>
        <br>
        <h5 class="sub-heading">Verdict</h5>
        <br>
        <p>Hats off to Motorola for making a great flagship phone. The phone has everything you
          need in a flagship and the pricing is very competitive as well. There are some issues
          like no waterproofing and no 4K recording in ultrawide and Tele cameras.
          The phone has great built quality, Screen, decent camera, loudspeaker and battery with
          enough juice to last you a day. There is barely anything big to nitpick and that makes
          this phone the easiest to recommend</p>
          <br>
          <div class="ad"></div>
          <br>
{% endblock body %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
 $(document).ready(function() {
 $('body').bind('cut copy paste', function(event) {
 event.preventDefault();
 });
 });
 </script>
{% endblock scripts %}