{% extends "base.html" %}
{% block addcss %}
  <meta name="Apple Iphone series and watch is now on sale in India" content="A detailed price list of newly launched apple products accross platforms">
  <link rel="stylesheet" href="/static/show.css">
  <style>
    .price-compare
    {
        height: auto;
        width: 95%;
        max-width: 500px;
        background-color: white;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        overflow-x: scroll;
    }
    .price-compare td,th 
    {
        border: solid;
        height: 5vh;
        width: 10vh;
    }
  </style>
{% endblock addcss %}
{% block title %}
  Mad Technophile | Apple Iphone series and watch is now on sale in India
{% endblock title %}
{% block body %}
<br>
<br>
<br>
<br>
  <div class="ad"></div>
  <h1 class="title">Apple Iphone series and watch is now on sale in India</h1>
  <img src="/static/front-template/news/n1.jpg" alt="" class="image">
  <hr style="width:90%; margin-left:auto;margin-right:auto;height:0.5vh; background: black;">
  <br>
  <h4 class="author">by Minaketan Mishra</h4>
  <h4 class="author"><i class='bx bxs-calendar' ></i>18th September 2022</h4>
  <p class="author">5 Min Read</p>
  <br>
  <p>The Apple’s Iphone 14 series was announced just a week ago. 3 out of the 4 phones
    announced will be available in India, as are the two watches. You can pick one up from your
    local apple store, apple.in, amazon or flipkart.</p>
  <table class="price-compare">
    <tr>
        <th></th>
        <th>iphone 14 </th>
        <th>iphone 14 Pro</th>
        <th>Watch Series 8</th>
        <th>Watch SE</th>
    </tr>
    <tr>
        <th>Apple.in</th>
        <th><a href="https://www.apple.com/in/shop/buy-iphone/iphone-14">₹79,900 </a></th>
        <th><a href="https://www.apple.com/in/shop/buy-iphone/iphone-14-pro">₹1,29,900</a></th>
        <th><a href="https://www.apple.com/in/shop/buy-watch/apple-watch?preSelect=false&product=MNP53HN/A&step=detail">₹45,900.00</a></th>
        <th><a href="https://www.apple.com/in/shop/buy-watch/apple-watch-se?preSelect=false&product=MNJT3HN/A&step=detail">₹29,900</a></th>
    </tr>
    <tr>
        <th>Amazon</th>
        <th><a href="https://www.amazon.in/Apple-iPhone-14-128GB-Starlight/dp/B0BDK8LKPJ/ref=sr_1_1_sspa?crid=3NNPD16QHEMXP&keywords=iphone+14&qid=1663508855&sprefix=iphone+14+%2Caps%2C235&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExQ001QlZPT1Q2VjFNJmVuY3J5cHRlZElkPUEwNDYxNzk5M0JZSk81SldIVUVGMyZlbmNyeXB0ZWRBZElkPUEwNDAxMjc2MURBVTdUUkZQVjhBVyZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">₹79,900 </a></th>
        <th><a href="https://www.amazon.in/iPhone-14-Pro-128GB-Silver/dp/B0BDJDZ7RH/ref=sr_1_3?crid=3G3TAUE5DRAYC&keywords=iphone+14+pro&qid=1663510540&sprefix=iphone+14+pro%2Caps%2C451&sr=8-3">₹1,29,900</a></th>
        <th><a href="https://www.amazon.in/Apple-Watch-Midnight-Aluminium-Sport/dp/B0BDKGNDTV/ref=sr_1_4?keywords=watch+8+series&qid=1663510561&sprefix=watch+8+se%2Caps%2C218&sr=8-4">₹45,900.00</a></th>
        <th><a href="https://www.amazon.in/Apple-Watch-GPS-40mm-Aluminium/dp/B09G9BZ6K5/ref=sr_1_omk_2?crid=2AB1ZIO0J1NX2&keywords=watch+se&qid=1663510598&sprefix=watch+s%2Caps%2C246&sr=8-2">₹29,900</a></th>
    </tr>
    <tr>
        <th>Flipcart</th>
        <th><a href="https://www.flipkart.com/apple-iphone-14-purple-128-gb/p/itm0b581eba85e08?pid=MOBGHWFHQFSQYBFU&lid=LSTMOBGHWFHQFSQYBFUSBTOEU&marketplace=FLIPKART&q=iphone+14&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=7709630c-00fb-4dfa-af27-1ccaa51019b2.MOBGHWFHQFSQYBFU.SEARCH&ppt=hp&ppn=homepage&ssid=bgl24805lc0000001663510632610&qH=860f3715b8db08cd">₹79,900 </a></th>
        <th><a href="https://www.flipkart.com/apple-iphone-14-pro-gold-128-gb/p/itme5895e593585d?pid=MOBGHWFHXPC3NFFY&lid=LSTMOBGHWFHXPC3NFFYGGZRVC&marketplace=FLIPKART&q=iphone+14+pro&store=tyy%2F4io&srno=s_1_4&otracker=AS_QueryStore_OrganicAutoSuggest_1_13_sc_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_13_sc_na_ps&fm=organic&iid=1ea09e74-045b-4300-955c-7f8cd6251cc7.MOBGHWFHXPC3NFFY.SEARCH&ppt=pp&ppn=pp&ssid=jfxaubosao0000001663510672530&qH=73a41d19c3188cc2">₹1,29,900</a></th>
        <th><a href="https://www.flipkart.com/apple-watch-series-8-gps/p/itmf9b88c0762b00?pid=SMWGHWZ2GNZQUZCE&lid=LSTSMWGHWZ2GNZQUZCEBLQNJG&marketplace=FLIPKART&q=apple+watch+8&store=ajy%2Fbuh&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=e6f88d6a-5fb8-4518-a867-34423db87456.SMWGHWZ2GNZQUZCE.SEARCH&ppt=pp&ppn=pp&ssid=an729fzgpc0000001663510694509&qH=c85206c63c1affb3">₹45,900.00</a></th>
        <th><a href="https://www.flipkart.com/apple-watch-se/p/itm2373a12e0851a?pid=SMWGHWZ2FK4EEZH9&lid=LSTSMWGHWZ2FK4EEZH9J2PS41&marketplace=FLIPKART&q=apple+watch+se&store=ajy%2Fbuh&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=4ba76b25-15ed-45d3-9bd3-a18508a7cc6b.SMWGHWZ2FK4EEZH9.SEARCH&ppt=pp&ppn=pp&ssid=u82nfbo66o0000001663510713698&qH=f67760aabdb0314d">₹29,900</a></th>
    </tr>
  </table>
  <br>
  <div class="ad"></div>
  <br>
  <p>As a reminder the prices for all the Apple Iphone 14 series with different variants across the
    different platforms are mentioned here.</p>
    <br>
  <p>The Airpods Pro 2 and the watch Ultra will arrive around on september 23</p>
  <br>
{% endblock body %}
{% block scripts %}
  
{% endblock scripts %}