{% extends "base.html" %}
{% block addcss %}
  <meta name="Go Pro Hero 11 series launched!" content="Go Pro has launched the Go Pro Hero 11 series and here is all you need to know">
  <link rel="stylesheet" href="/static/show.css">
{% endblock addcss %}
{% block title %}
  Mad Technophile | Go Pro Hero 11 series launched!
{% endblock title %}
{% block body %}
<br>
<br>
<br>
<br>
  <div class="ad"></div>
  <h1 class="title">Go Pro Hero 11 series launched!</h1>
  <img src="/static/front-template/news/n3.jfif" alt="" class="saint-2">
  <hr style="width:90%; margin-left:auto;margin-right:auto;height:0.5vh; background: black;">
  <br>
  <h4 class="author">by Minaketan Mishra</h4>
  <h4 class="author"><i class='bx bxs-calendar' ></i>18th September 2022</h4>
  <p class="author">5 Min Read</p>
  <br>
  <p>Go pro has launched its brand you action camera line up like it does every year. Two days ago
    Go pro launched GoPro Hero 11 Black and Hero 11 Black Mini in India as its latest iteration of
    its action camera line up. So, lets have a look on what news about the Go Pro 11 line up.</p>
    <br>
 <h4 class="sub-heading">Go Pro Hero 11 Black</h4>
 <br>
 <img src="/static/front-template/poc/n3-4.jpg" alt="" class="saint-2">
 <br>
 <p>The Go Pro Hero 11 Black hasn't changed much on the deisgn front. It has the same black look with dual screens. What is new here is the new camera sensor. The Go pro Hero 11 comes with a taller 1/1.9-inch sensor, which enables you to capture 27MP photos which is an upgrade over the 23MP from the Go pro Hero 10 black </p>
 <br>
 <p>The sensor captures 5K videos recorded in an 8:7 aspect ratio. Capturing videos in this aspect ratio will help you edit them to an aspect ratio that you need. This can be done via the Quick app by Go Pro. The larger sensor allows the Go Pro Hero 11 black to capture videos and pictures in 10-bit color, and we can't wait to test it.</p>
 <br>
 <p>The Go pro Hero 11 can capture video at 5.3K at 60FPS and 4K at 40FPS. The preview mode in Go Pro supports both the resolution, However, the This Go Pro also comes with a feature called the Hyperview which takes the whole 8:7 sensor readout and creates a 16:9 output. </p>
 <br>
 <p>We all know about the hyper-smooth stabilization feature and how it makes vlogging smooth. This iteration of Go Pro has improved it a little more. A 360-degree horizon lock feature is coupled with the Hypersmooth stabilization feature which works up to 5.3k at 30 FPS. This helps you to keep the subject leveled to the horizon point. </p>
 <br>
 <p>Go Pro hasn't made enough changes with the hardware. The Go Pro Hero 11 black comes with the same GP2 Processor. The battery is replaced with a removable 1,782 mAh Li-ion Enduro battery. The Enduro battery was available as an accessory. The larger battery is accompanied by two video shooting modes in Highest Quality and Extended Battery. </p>
 <br>
 <div class="ad"></div>
 <h4 class="sub-heading">Go Pro Hero 11 Black mini</h4>
 <br>
 <img src="/static/front-template/poc/n3-3.jpg" alt="" class="saint-3">
 <br>
 <br>
 <p>You can tell by the name that it is expected to be the mini version of the Go Pro Hero 11 Black and do much of the same work in a smaller form factor. The Go Pro Hero 11 Black Mini is the much-requested product for fans. The camera can easily but put inside your pocket and it weighs around 133 grams</p>
 <br>
 <p>The Go Pro Hero 11 Black Mini comes with a feature called dual mounting fingers. This feature makes the Go Pro Hero 11 Black Mini versatile as it makes the camera easier to mount on helmets, inside the car, etc. </p>
 <br>
 <img src="/static/front-template/poc/n3-1.gif" alt="" class="saint-2">
 <br>
 <p>The Go Pro Hero 11 Black Mini doesn't have any touch display. There is a tiny display at the top next to the shutter button, It shows video capture mode, battery life, and other useful features. The paring button is placed next to the camera lens. </p>
 <br>
 <p>The Mini comes with a 1500 mAh non-removable Enduro Li-ion Battery. This means you will have to carry a power bank around you.</p>
 <br>
 <h4 class="sub-heading">Price and availability </h4>
 <br>
 <p>The Go Pro 11 Hero Black is priced around ₹ 51,500. It was launched 2 days ago and the Go Pro 11 Hero Black Mini will be priced around ₹ 41,500 and go on sale sometime in November. The creator's edition was also announced, which will turn your camera into a vlogging rig. This will be available by the end of October and will be priced around ₹ 71,500</p>
 <br> 
 <div class="ad"></div>
 <br>
{% endblock body %}
{% block scripts %}
  
{% endblock scripts %}